.paragraph {
  font-size: var(--font-size-sec);
  color: var(--color-text-p);
  font-style: var(--font-header);
  font-weight: var(--font-medium);
  line-height: 1.5;
  text-align: justify;
}
.paragraph--karate {
  font-size: 3vw;
  @media screen and (min-width: 768px) {
    font-size: var(--font-size-sec);
  }
}
