:root {
  --color-text-main: #000000;
  --color-text-sec: #ffffff;
  --color-text-third: #e20a17;
  --color-text-h: #fff100;
  --color-text-header: #004682;
  --color-text-p: #545454;

  --color-bg-main: #ffffff;
  --color-bg-sec: #f7f7f7;
  --blue: #2196f3;
  --white: #ffffff;
  --contact-icon: rgba(175, 177, 184, 1);

  --font-family: 'Roboto', sans-serif;
  --font-weight: 500;

  --font-header: 'Noto Sans', sans-serif;
  --font-regular: 400;
  --font-medium: 500;

  --font-baner: 'Crimson Text', serif;

  --font-size-main: 12px;
  --font-size-sec: 20px;
  --font-size-third: 14px;
  --font-size-fourth: 50px;

  --border-radius: 5px;

  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$colorTextMain: #000000;
$colorTextSec: #ffffff;
$colorTextThird: #8c8c8c;
$colorTextFooter: #545454;

$colorAccentMain: #ff6b08;
$colorAccentSec: #ff6b01;
$colorAccentThird: #ff001b;

$colorBgMain: #ffffff;
$colorBgSec: #f7f7f7;

$fontFamily: 'Roboto', sans-serif;
$fontWeight: 500;

$fontSizeMain: 12px;
$fontSizeSec: 20px;
$fontSizeThird: 14px;
$fontSizeFourth: 30px;

$borderRadius: 5px;

$transitionDuration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$laptop: 1280px;
