<div class="dojo-section dojo-setion__img">
  <div class="dojo-text">
    <div class="title">Treningi</div>
    <ol>
      W zakresie treningu karate shorin-ryu znajdują sie:
      <li>:gimnastyka i ćwiczenia ogólnorozwojowe</li>
      <li>:nauka podstawowych technik karate</li>
      <li>: nauka ukladów technik nazywanych KATA</li>
      <li>:interpretacje technik z kata nazywana BUNKAI</li>
      <li>:wykorzystanie technik w samoobronie BUNKAI OYO</li>
      <li>:ćwiczenia wzmacniajace ciało, koncentrujacę, oddechowe</li>
      <li>:techniki z bronia okinawanska KOBUDO</li>
      <li>:rywalizacja sportowa.</li>
    </ol>
  </div>
</div>
