<div class="dojo-section">
  <div class="dojo-text">
    <ol>
      W zakresie treningu karate shorin-ryu znajduja sie:
      <li>:gimnastyka i cwiczenia ogólnorozwojowe</li>
      <li>:nauka podstawowych technik karate</li>
      <li>: nauka ukladów technik nazywanych KATA</li>
      <li>:interpretacje technik z kata nazywana BUNKAI</li>
      <li>:wykorzystanie technik w samoobronie BUNKAI OYO</li>
      <li>:cwiczenia wzmacniajace cialo, koncentrujace, oddechowe</li>
      <li>:techniki z bronia okinawanska KOBUDO</li>
      <li>:rywalizacja sportowa.</li>
    </ol>
  </div>
</div>
