<div class="footer_section">
  <div class="footer_wrapper">
    <a href="./index.html" class="logo">
      <img
        src="./images/logo-footer.png"
        width="190px"
        alt="Logo Karate Shorin-Ryu"
      />
    </a>
    <div class="footer_div">
      <ul class="title title--footer">
        Kontakt
        <li class="paragraph paragraph--footer">miether@vp.pl</li>
        <li class="paragraph paragraph--footer">CHEŁMIŃSKA 3B/4, Grudziadz</li>
        <li class="paragraph paragraph--footer">tel. 609804151</li>
      </ul>
    </div>
    <div class="footer_div">
      <ul class="title title--footer">
        Linki
        <li>
          <a
            class="paragraph paragraph--footer"
            href="http://www.okinawakarate.pl/"
            target="_blank"
            >Oficjalna Strona Polskiej Unii Shorin-Ryu Karate Kobudo</a
          >
        </li>
        <li>
          <a
            class="paragraph paragraph--footer"
            href="https://www.facebook.com/karate.samoobrona"
            target="_blank"
            >Facebook Grudziądzki klub karate i samoobrony jiu-jitsu
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
