<div class="footer_section">
  <div class="footer_wrapper">
    <a href="./index.html" class="logo">
      <img src="./images/logo.png" width="190px" alt="Logo Karate Shorin-Ryu" />
    </a>
    <div class="footer_div">
      <ul class="title title--footer">
        Kontakt
        <li class="paragraph paragraph--footer">miether@vp.pl</li>
        <li class="paragraph paragraph--footer">CHEŁMIŃSKA 3B/4, Grudziadz</li>
        <li class="paragraph paragraph--footer">tel. 609804151</li>
      </ul>
    </div>
    <div class="footer_div">
      <ul class="title title--footer">
        Linki
        <li class="paragraph paragraph--footer">
          http://www.okinawakarate.pl/
        </li>
        <li class="paragraph paragraph--footer">
          https://www.facebook.com/karate.samoobrona
        </li>
      </ul>
    </div>
  </div>
</div>
