<div class="gallery-section">
  <div class="gallery">
    <div class="galler__item">
      <a class="gallery__link" href="./images/img 1.jpg">
        <img
          class="gallery__image"
          src="./images/img 1.jpg"
          alt="Staż Shorin-Ryu Karate w Pińczowie"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 2.jpg">
        <img
          class="gallery__image"
          src="./images/img 2.jpg"
          alt="Zawody - Mistrz Grudziądza 2021"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 3.jpg">
        <img
          class="gallery__image"
          src="./images/img 3.jpg"
          alt="Zawody - Mistrz Grudziądza 2022"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 4.jpg">
        <img
          class="gallery__image"
          src="./images/img 4.jpg"
          alt="Zawody Puchar Prezydenta Grudziądza w Shorin-Ryu Karate 2021"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 5.jpg">
        <img
          class="gallery__image"
          src="./images/img 5.jpg"
          alt="Zajęcia z samooobrony"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 6.jpg">
        <img
          class="gallery__image"
          src="./images/img 6.jpg"
          alt="Zajęcia z samooobrony"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 7.jpg">
        <img
          class="gallery__image"
          src="./images/img 7.jpg"
          alt="Trening Letni 2018"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 8.jpg">
        <img
          class="gallery__image"
          src="./images/img 8.jpg"
          alt="Biwak Karate 2023"
        />
      </a>
    </div>
    <div class="gallery__item">
      <a class="gallery__link" href="./images/img 9.jpg">
        <img
          class="gallery__image"
          src="./images/img 9.jpg"
          alt="Biwak Karate 2023"
        />
      </a>
    </div>

    <!---
    <div class="video">
      <iframe
        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fkarate.samoobrona%2Fvideos%2F904524093446925%2F&show_text=false&width=267&t=1330"
        width="267"
        height="476"
        style="border: none; overflow: hidden"
        scrolling="no"
        frameborder="0"
        allowfullscreen="true"
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
        allowfullscreen="true"
      ></iframe>
    </div>-->
  </div>
</div>
