<section class="header">
  <div class="header-wraper">
    <div class="nav-box">
      <a href="./index.html" class="logo">
        <img
          src="./images/logo.png"
          width="190px"
          alt="Logo Karate Shorin-Ryu"
        />
      </a>
      <nav class="d-none-tablet">
        <ul class="nav">
          <li class="nav__item">
            <a href="sensei.html" class="nav__link">Sensei</a>
          </li>
          <li class="nav__item">
            <a href="sztukiwalki.html" class="nav__link">Sztuki walki </a>
            <ul class="dropdown">
              <li><a href="#Karate" class="nav__link">Karate</a></li>
              <li><a href="#Kobudo" class="nav__link">Kobudo</a></li>
              <li><a href="#Jiu-jitsu" class="nav__link">Jiu-jitsu</a></li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="#Kontakt" class="nav__link">Kontakt</a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/karate.samoobrona"
              target="_blank"
            >
              <svg class="nav__icon" width="30" height="20">
                <use xlink:href="./images/icons.svg#FB"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <div class="nav-modal d-none-mobile">
        <button
          class="mobile-menu__button hamburger"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
          backdrop-open
        >
          <svg width="20" height="12" class="mobile-menu__button">
            <use href="./images/icons.svg#icon-menu_24px"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
