<section class="header">
  <div class="container">
    <a href="./index.html">
       <img
          src="./images/logo.png"
              width="50px"
          />
   </a>
    <nav class="d-none-mobile">
      <ul class="nav">
        <li class="nav__item"><a href="#Klub" class="nav__link">Klub</a></li>
        <li class="nav__item">
          <a href="#sztuki walki " class="nav__link">Sztuki walki</a>
        </li>
        <li class="nav__item">
          <a href="#Kontakt" class="nav__link">Kontakt</a>
        </li>
      </ul>
   
    <div class="nav__social">
      <svg width="20" height="12"><use xlink:href="./images/icons.svg#icon-burger"></use></svg>

    </div>
  </nav>
   <div class="nav__modal">
        <button
          class="mobile-menu__toggle open-menu d-none-desktop"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
          backdrop-open
        >
          <svg width="20" height="12"><use xlink:href="./images/icons.svg#icon-burger"></use></svg>
        </button> 
      </div>
</section>
