<div class="about-karate">
  <div class="about-karate__img"></div>

  <div class="about-karate__text">
    <div class="title">Karate</div>
    <div class="paragraph paragraph--karate">
      Okinawa Shorin-Ryu Karate Do to najstarszy styl karate, którego kolebką
      jest niewielka japońska wyspa Okinawa, leżaca w archipelagu Ryukyu.
      Załozycielem stylu Shorin-ryu był instruktor króla Ryukyu Sokon "Bushi"
      Matsumura. Jego uczeń Anko Itosu zmodernizowal styl, zaś ostateczną formę
      nadał Shorin-ryu Choshin Chibana odznaczony przez cesarza Japonii medalem
      za wkład w rozwój karate. <br /><br />

      Nazwa "Shorin-Ryu" pochodzi od dwóch chińskich znaków, "Shorin" oznacza
      "las sosnowy", co symbolizuje elastyczność i siłę, natomiast "Ryu" oznacza
      "styl" lub "szkołę".
    </div>
  </div>
</div>
