<div class="about-karate">
  <div class="about-karate__img"></div>

  <div class="about-karate__text">
    <div class="about-karate__text-h">Karate</div>
    <div class="about-karate__text-p">
      Okinawa Shorin-Ryu Karate Do to najstarszy styl karate, którego kolebką
      jest niewielka japońska wyspa Okinawa, leżaca w archipelagu Ryukyu.
      Załozycielem stylu Shorin-ryu był instruktor króla Ryukyu Sokon "Bushi"
      Matsumura. Jego uczeń Anko Itosu zmodernizowal styl, zaś ostateczną formę
      nadał Shorin-ryu Choshin Chibana odznaczony przez cesarza Japonii medalem
      za wkład w rozwój karate. <br /><br />

      Obecnie światowa organizacją kieruje Katsuya Miyahira 10 DAN. W skład tej
      organizacji wchodzi O.K.I. z siedziba w Naha na Okinawie, kierowana przez
      Kenyu Chinen 9 dan. Grudziądzki Klub Karate Shorin-Ryu jest członkiem
      Polskiej Unii Shorin-Ryu Karate (prezydent Aleksander Staniszew 8 DAN),
      nalezacej do O.K.I.
    </div>
  </div>
</div>
