<div class="kontakt-section">
  <div class="kontakt-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1187.0262643668718!2d18.748478078568546!3d53.4853912371706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4702cfdc216e77d3%3A0x9969f21bc546a6b4!2sGrudzi%C4%85dzki%20Klub%20Karate%20Shorin-Ryu!5e0!3m2!1spl!2spl!4v1700777179740!5m2!1spl!2spl"
      style="border: 0"
      width="500"
      height="400"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="kontakt-div">
    <div class="kontakt-form">
      <h class="title title--kontakt">Zapisz się</h>

      <form class="form">
        <label class="form__label">
          Imie
          <svg class="form__icon form__icon1">
            <use href="./images/icons.svg#icon-person-black-18dp-1"></use>
          </svg>
          <input class="form__input" type="text" name="name" />
        </label>
        <label class="form__label">
          Telefon
          <svg class="form__icon form__icon2">
            <use href="./images/icons.svg#icon-phone-black-18dp-1"></use>
          </svg>
          <input class="form__input" type="tel" name="phone_number" />
        </label>
        <label class="form__label">
          Email
          <svg class="form__icon form__icon3">
            <use href="./images/icons.svg#icon-email-black-18dp-1"></use>
          </svg>
          <input class="form__input" type="email" name="email" />
        </label>
        <label class="form__label">
          Komentarz
          <textarea
            class="form__comments"
            name="komentarz"
            placeholder="Wprowadź tekst"
          ></textarea>
        </label>
      </form>
    </div>
    <button class="kontakt-btn"></button>
  </div>
</div>
