<div class="mobile-menu d-none">
        
         <div class="mobile-menu-part1">
              <button type=button class="mobile-menu-btn">
                <svg class="mobile-menu-btn">
                  <use href="./image/icons.svg#icon-close_24px"> </use>
                </svg>
              </button>
       
          <ul class="mobile-menu-nav"> 
          <li class="mobile-menu-nav__item"><a class="mobile-menu-nav__link" href="" >Agencja</li>
          <li class="mobile-menu-nav__item"><a class="mobile-menu-nav__link" href="" >Portfolio</li>
          <li class="mobile-menu-nav__item"><a class="mobile-menu-nav__link" href="" >Kontakt</li>
          </ul>
        </div>
                 <div class="mobile-menu-part2 " >            
                <ul class="mobile-menu-contact-list">
                  <li class="mobile-menu-contact-list__item">
                  <a class=" mobile-menu-contact-list__item mobile-menu-contact-list__item--phone" href="tel:+48111111111"> +48 111 111 111</a></li>
                  <li class="mobile-menu-contact-list__item">
                    <a class="mobile-menu-contact-list__item mobile-menu-contact-list__item--mail" href="mailto:info@devstudio.com"> info@devstudio.com</a> </li>
                </ul>
              
              <ul class="menu-mobile-social">
                <li ><a class="menu-mobile-social__item" href="">Instagram</a></li>
                <li ><a class="menu-mobile-social__item" href="">Twitter</a></li>
                <li ><a class="menu-mobile-social__item" href="">Facebook</a></li>
                <li><a  class="menu-mobile-social__item" href="">Linkedin</a></li>
              </ul>
        </div> 
      
              </div>