
<div class="backdrop is-hidden" backdrop>
<div class="mobile-menu ">
    <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a href="sensei.html" class="mobile-menu__link"> Sensei</a></li>
        <li class="mobile-menu__item">
          <a href="#Sztuki walki" class="mobile-menu__link">Sztuki walki</a>
        </li> 
            <li class="mobile-menu__item"><a href="#Karate" class="mobile-menu__link--dropdown">Karate</a></li>
            <li class="mobile-menu__item"><a href="#Kubodo" class="mobile-menu__link--dropdown">Kubodo</a></li>
            <li class="mobile-menu__item"><a href="#Jiu-jitsu" class="mobile-menu__link--dropdown">Jiu-jitsu</a></li>
          
        
        <li class="mobile-menu__item">
          <a href="#Kontakt" class="mobile-menu__link">Kontakt</a>
        </li>
        
</div>
</div>