<div class="schedule-section">
  <table class="d-none-mobile">
    <tr>
      <th>Poniedziałek</th>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia dla dzieci początkujących</span
        ><br />16:30-17:15
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia dla dzieci zaawansowanych</span
        ><br />17:30-18:15
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia samoobrona jiu-jitsu</span
        ><br />18:30-19:15
      </td>
    </tr>
    <tr>
      <th>Wtorek</th>
    </tr>
    <tr>
      <th>Środa</th>
    </tr>
    <tr>
      <th>Czwartek</th>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia dla dzieci początkujących</span
        ><br />16:30-17:15
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia dla dzieci zaawansowanych</span
        ><br />17:30-18:15
      </td>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia samoobrona jiu-jitsu</span
        ><br />18:30-19:15
      </td>
    </tr>
    <tr>
      <th>Piątek</th>
    </tr>
  </table>

  <table class="d-none-tablet">
    <colgroup>
      <col style="width: 20%" />
      <col style="width: 20%" />
      <col style="width: 20%" />
      <col style="width: 20%" />
      <col style="width: 20%" />
    </colgroup>
    <tr>
      <th>Poniedziałek</th>
      <th>Wtorek</th>
      <th>Środa</th>
      <th>Czwartek</th>
      <th>Piątek</th>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia dla dzieci początkujących</span>
        <br />16:30-17:15
      </td>
      <td></td>
      <td></td>
      <td>
        <span class="bold-text">Zajęcia dla dzieci początkujących </span
        ><br />16:30-17:15
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia dla dzieci zaawansowanych </span
        ><br />17:30-18:15
      </td>
      <td></td>
      <td></td>
      <td>
        <span class="bold-text">Zajęcia dla dzieci zaawansowanych</span>
        <br />17:30-18:15
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <span class="bold-text">Zajęcia samoobrona jiu-jitsu </span
        ><br />18:30-19:15
      </td>
      <td></td>
      <td></td>
      <td>
        <span class="bold-text">Zajęcia samoobrona jiu-jitsu</span>
        <br />18:30-19:15
      </td>
      <td></td>
    </tr>
  </table>
</div>
