<div id="Sensei" class="sensei-section">
  <div class="sensei-section__img"></div>
      <div class="sensei-section__text">  <div class="title">Sensei</div>
    <div class="paragraph paragraph--karate">
      "Sensei" (先生) to japońskie słowo, które oznacza "nauczyciel" lub
      "mistrz". W naszym dojo Karate Shorin-Ryu, Sensei pełni zdecydowanie
      więcej niż tylko rolę instruktora technik. Jest także mentorem,
      przekazującym uczniom wartości, takie jak szacunek, dyscyplina 
      i samokontrola. </br></br>
      Obecnie, światową Organizacją Karate International (O.K.I.) z siedzibą w Naha na Okinawie, 
      kieruje Kenyu Chinen, posiadający stopień mistrzowski 10 dan. 
      Jest on uczniem wybitnych mistrzów Choshina Chibany, Shuguro Nakazato i Katsuya Miyahiry.
    </br></br>
      Grudziądzki Klub Karate Shorin-Ryu jest aktywnym członkiem Polskiej Unii Shorin-Ryu Karate. 
      Prezydentem tej organizacji jest Aleksander Staniszew, posiadający stopień mistrzowski 9 DAN.
      Polska Unia Shorin-Ryu Karate stanowi lokalny oddział O.K.I. w Polsce, 
      co umożliwia udział w międzynarodowych przedsięwzięciach oraz utrzymanie bliskich związków 
      z korzeniami i nauką karate Shorin-Ryu.
    </div></div>
  
</div>
