<div class="sztuki-walki-section">

    <div id="Kobudo"class="sztuki-walki-wrapper">
      <div class="kobudo__img"></div>
      <div class="sztuki-walki-text">
        <div class="title">Kobudo</div>
        <div class="paragraph paragraph--karate">
          Kobudo, będące sztuką walki z wykorzystaniem charakterystycznych
          broni, wyewoluowało na Okinawie jako reakcja na ograniczone zasoby rud
          metali na wyspie. Rząd okinawski przywiązywał ogromną wagę do kontroli
          i właściwego wykorzystania tego cennego surowca, co było motorem
          rozwoju broni kobudo na wyspie. Wpływ na rozwój kobudo miały również
          edykty zakazujące posiadania typowej broni militarne. Każda szkoła
          kobudo, mimo że skupia się na sztuce walki z użyciem broni, zazwyczaj
          ma również powiązany system walki wręcz, często będący częścią
          tradycji rodzinnej. Należy zauważyć, że popularne przekonanie, jakoby
          bronie kobudo na Okinawie wywodziły się z narzędzi rolniczych, jest
          nieprawdziwe. Chociaż niektóre z broni mogą przypominać narzędzia
          rolnicze, geneza ich powstania różni się całkowicie. W rzeczywistości
          można dostrzec wpływy chińskie, które zostały poddane transformacji
          przez mieszkańców Okinawy i dostosowane do ich specyficznych potrzeb
          oraz tradycji. Podobnie, jak w przypadku innych elementów kultury
          chińskiej, Okinawczycy czerpali z dorobku chińskiego, ale nigdy ślepo
          go nie naśladowali, adaptując i modyfikując zgodnie z własnymi
          potrzebami.
        </div>
      </div>
    </div>
    <div id="Jiu-jitsu" class="sztuki-walki-wrapper">
      <div class="jiu-jitsu__img"></div>
      <div class="sztuki-walki-text">
        <div class="title">Jiu-Jitsu</div>
        <div class="paragraph paragraph--karate">
          Jiu-Jitsu to starożytny japoński system walki wręcz, rozwijający się w
          feudalnej Japonii. Nauczał się go w rodach szlacheckich, początkowo po
          opanowaniu umiejętności związanych z bronią, takimi jak miecz, łuk czy
          jazda konna. W XIX i XX wieku Jiu-Jitsu stało się powszechnie
          dostępne, rozwinęły się różne szkoły i style, takie jak Aikijitsu,
          Ju-Jutsu, Ninjitsu czy Judo. Nadal istnieje wiele szkół rodzinnych.
          Współcześnie istnieją specjalistyczne szkoły, np. Combat Jiu-Jitsu,
          samoobrona Jiu-Jitsu, koncentrujące się na treningu sportowym,
          samoobronie dla różnych grup wiekowych i specjalistycznych formacjach
          zawodowych. W treningach skupiamy się na obronie w różnych sytuacjach,
          w tym przed atakami bronią białą czy interwencją. Ćwiczymy dźwignie,
          rzuty, kopnięcia, ciosy i walkę w parterze, co może być przydatne w
          MMA i uziemieniach, oferując także samoobronę dla wszystkich grup
          wiekowych.
        </div>
      </div>
    </div>
  </div>
</div>
