.header {
  color: var(--color-text-main);
  height: 100px;
  padding-left: 65px;
  padding-right: 65px;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0.8;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.nav-box {
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  gap: 80px;
}

.logo {
  flex-shrink: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 470px;
  align-items: center;
  height: 100px;
  overflow: hidden;

  &__item {
    display: inline-block;
  }

  &__link {
    list-style-type: none;
    font-size: var(--font-size-sec);
    color: var(--color-text-header);
    font-style: var(--font-header);
    font-weight: var(--font-medium);
    line-height: 1.14;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    display: block;
    position: relative;

    &:hover {
      color: var(--white);
      background-color: #004682;
      cursor: pointer;
      padding: 10px; /* Dodaj padding, aby powiększyć tło */
      margin: -10px;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    fill: var(--color-text-header);
    border-radius: 50%;
    transition-property: fill background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover {
      color: var(--blue);
      fill: var(--white);
      background-color: #004682;
      cursor: pointer;
    }
  }
}
.nav-modal {
  width: 24px;
  height: 24px;
}

.dropdown {
  position: absolute;
  width: 120px;
  height: max-content; /* Dodaj właściwość height i dostosuj ją */
  z-index: 1;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  display: none;
  margin: 0, auto;
  margin-top: 10px;
}

.nav__item:hover .dropdown {
  display: block;
}
.dropdown li {
  margin-bottom: 10px; /* Doda interlinię między każdą pozycją w menu */
}
