.container {
  max-width: 500px;
  @media (min-width: $tablet) {
    max-width: $tablet;
  }
  @media (min-width: $laptop) {
    max-width: $laptop;
  }

  width: 100%;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: $tablet) {
    padding: 0 20px;
  }
}

.header {
  color: var(--color-text-main);
  margin: 0;
  height: 216px;
  background-color: var(--color-bg-main);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 49px;

  width: 254px;
  align-items: center;
  margin-top: 32px;
  margin-right: 345px;
  margin-bottom: 32px;
  margin-left: 93px;
}

.nav__item {
  list-style-type: none;
}
.nav__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 49px;
}
