.about-karate {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;

  height: 600px;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

.about-karate__img {
  background-image: url(../images/karate-r-b22.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 600px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
    background-size: contain;
  }
  &:hover {
    background-image: url(../images/hover.png);
    background-size: cover;
  }
}

.about-karate__text {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  padding: 0 40 30 40;

  @media screen and (min-width: 768px) {
    width: 50%;
    padding: 30 40 30 40;
    overflow: auto;
    overflow-wrap: break-word;
  }
}
