.sensei-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-height: 1200px;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 20px;
    max-height: 600px;
  }
}

.sensei-section__img {
  background-image: url(../images/sensei2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 600px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
    background-size: contain;
  }
}
.sensei-section__text {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  padding: 0 40 30 40;

  @media screen and (min-width: 768px) {
    width: 50%;
    padding: 0 40 0 40;
    overflow: auto;
  }
}
